<div class="container-fluid fixed-bottom ">
    <div class="row footer ">
      <div class="col">
        <div class="row">
            <div class="col">
                <a class="nav-link" routerLink="/">  Terms & Conditions</a>
                
              </div>
              <div class="col">
                Privacy Policy
              </div>
              <div class="col">
                Disclaimer
              </div>
             
        </div>
       
      </div>
      <!-- <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div> -->
    </div>
  </div>