<p>home works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Room Id</h2>
        </div>
        <div class="col-sm-3">
            <p>10/-</p>
        </div>
        <h2>win#001</h2>
    </div>

<div class="container2">
    <div class="row">
        <div class="col-sm-3">
            <h2>Total Winning</h2>
        </div>
        <div class="col-sm-3">
            <p>1000/-</p>
        </div>
        <h2>Amount</h2>
    </div>

    <div>
    <button class="btn1">
        00 <br>
        Days
    </button>

    <button class="btn2">
        00 <br>
        Hours
    </button>

    <button class="btn3">
        00 <br>
        Minutes
    </button>

    <button class="btn4">
        00 <br>
        seconds
    </button>
    </div>

    <button class="btn-last">Click here</button>
    
</div>
</div>
